<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h2>Employee List</h2>
<div class="table-responsive text-nowrap">
<table class="table table-hover table-reflow table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th> NyiNyiHtet_ID</th>
    <th> Nyi Nyi Nyi_name</th>
    <th> NyiNyiHtet_salary</th>
    <th> NyiNyiHtet_age</th>
    <th> NyiNyiHtet_Action</th>
  </tr>
  </thead>
  <tr *ngFor="let employee of data">
    <td >{{employee.id}}</td>
    <td >{{employee.employee_name}}</td>
    <td >{{employee.employee_salary}}</td>
    <td >{{employee.employee_age}}</td>
    <td><button (click)="setIdUpdate(employee.id)" routerLink="/update">Update</button>
      <button (click)="setIdDelete(employee.id)" routerLink="/delete">Delete</button></td>
  </tr>
</table>
</div>