<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2> Update Existing Employee</h2>
<form action="/action_page.php">
  <div class="form-group">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
    <input class="form-control" type="text" [(ngModel)]="employee.name" placeholder={{data.employee_name}} name="name" required />
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 col-form-label">Salary</label>
    <input class="form-control" [(ngModel)]="employee.salary" placeholder={{data.employee_salary}} type="text" name="salary" required>
  </div>
  <div class="form-group">
    <label for="age" class="col-sm-2 col-form-label">Age</label>
    <input class="form-control" [(ngModel)]="employee.age" placeholder={{data.employee_age}} type="text" name="age" required>
  </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="updateEmployee()" routerLink="/view" >Update Employee</button>
</form>