<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2> Register New Employee</h2>
<form action="/action_page.php">
  <div class="form-group">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
    <input class="form-control" [(ngModel)]="employee.name" type="text" placeholder="Enter Name" name="name" required>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 col-form-label">Salary</label>
    <input class="form-control" [(ngModel)]="employee.salary" type="text" placeholder="Enter Salary" name="salary" required>
  </div>
  <div class="form-group">
    <label for="age" class="col-sm-2 col-form-label">Age</label>
    <input class="form-control" [(ngModel)]="employee.age" type="text" placeholder="Enter Age" name="age" required>
  </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="addEmployee()" routerLink="/view" >Add Employee</button>
</form>