<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>Welcome to {{ title }}</h1>
</div>
<div class="topnav">
  <a class="active" routerLink="view"> Employee</a>
  <a routerLink="add"> Add </a>
  <a routerLink="update"> Update </a>
  <a routerLink="delete"> Delete </a>
</div>
<router-outlet></router-outlet>
<p>ending..........</p>
