.header h1{
  padding: 50px;
  text-align: center;
  background: lightgreen;
  color: white;
  border-radius: 50%;
  width: 50%;
  margin:auto;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.header{
  background-color: aliceblue;
  height: 10%;
}
.topnav {
  background-color: gray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}