<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Delete Employee</h2>
<form action="/action_page.php">
  <div class="form-group">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
    <input class="form-control" type="text" value={{data.employee_name}} name="name" readonly>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 col-form-label">Salary</label>
    <input class="form-control" type="text" value={{data.employee_salary}} name="salary" readonly>
  </div>
  <div class="form-group">
    <label for="age" class="col-sm-2 col-form-label">Age</label>
    <input class="form-control" type="text" value={{data.employee_age}} name="age" readonly>
  </div>
  <button class="btn btn-danger" (click)="deleteEmployee()" routerLink="/view"> Delete Employee</button>

</form>